.ipynb_checkpoints/
.DS_Store
*~
\#*#
.#*
*.jld
*.jld2
.juliahistory
stimuli/*.wav
*.swp
tags
.undo
src/count_lengths/*count_lengths_N.txt
presentation/pitch
presentation/paper/*.png
presentation/paper/*.pdf
.vscode

